---
// Drifting warm embers, used as an atmospheric backdrop in hero sections.
// Parent must be `position: relative`. Content siblings should either have
// `position: relative` or be wrapped in a positioned container so they
// paint above the absolute ember layer.
---

<div class="embers" aria-hidden="true">
  <span style="left: 5%;  --ember-duration: 16s; --ember-delay: 0s;   --ember-drift: 22px;"></span>
  <span style="left: 11%; --ember-duration: 13s; --ember-delay: 2s;   --ember-drift: -26px;"></span>
  <span style="left: 17%; --ember-duration: 18s; --ember-delay: 1s;   --ember-drift: 30px;"></span>
  <span style="left: 23%; --ember-duration: 14s; --ember-delay: 4s;   --ember-drift: -18px;"></span>
  <span style="left: 29%; --ember-duration: 20s; --ember-delay: 0.5s; --ember-drift: 26px;"></span>
  <span style="left: 36%; --ember-duration: 15s; --ember-delay: 5s;   --ember-drift: -22px;"></span>
  <span style="left: 42%; --ember-duration: 17s; --ember-delay: 2.5s; --ember-drift: 28px;"></span>
  <span style="left: 48%; --ember-duration: 19s; --ember-delay: 3.5s; --ember-drift: -20px;"></span>
  <span style="left: 54%; --ember-duration: 14s; --ember-delay: 6s;   --ember-drift: 24px;"></span>
  <span style="left: 60%; --ember-duration: 16s; --ember-delay: 1.5s; --ember-drift: -30px;"></span>
  <span style="left: 67%; --ember-duration: 18s; --ember-delay: 4.5s; --ember-drift: 22px;"></span>
  <span style="left: 73%; --ember-duration: 13s; --ember-delay: 3s;   --ember-drift: -26px;"></span>
  <span style="left: 79%; --ember-duration: 20s; --ember-delay: 0s;   --ember-drift: 18px;"></span>
  <span style="left: 85%; --ember-duration: 15s; --ember-delay: 5.5s; --ember-drift: -24px;"></span>
  <span style="left: 91%; --ember-duration: 17s; --ember-delay: 2s;   --ember-drift: 28px;"></span>
  <span style="left: 96%; --ember-duration: 14s; --ember-delay: 6.5s; --ember-drift: -20px;"></span>
</div>
